@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Benne&family=Lato&display=swap');

*{
    margin: 2rem;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    background-color: hsl(206, 92%, 94%)
}
html{
    font-size: 62.5%;
}
h1 {
    color: rgb(231, 46, 46);
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    font-weight: 800;
    text-align: left;
    padding-left: 200px;
}

h2 {
    color: rgb(72, 72, 169);
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-align: left;
    padding-left: 80px;
}

.rules {
    font-size: 30px;
    padding-left: 10px;
    font-family: FreeMono, monospace;
}

.button {
    font-size: 30px;
    font-family: American Typewriter, serif;
    font-weight: bold;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-block: 10px;
    background-color: skyblue;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba( 0, 0, 0, 0.4);
}
.button:hover{
    background-color: rgb(69, 145, 175);
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: brown;
}

ol {
    padding-left: 180px;
}

ul {
    padding-left: 300px;
}

.logo {
    height: 150px;
    opacity: 0.7;
    padding-right: 0px;
    border-radius: 2rem;
    
}

.topic {
    font-size: 50px;
    font-family: DejaVu Sans Mono, monospace;
    font-weight: bold;
    color: #006600;
    padding-left: 50px;
}

.topic_button{
    border: none;
    font-weight: 700;
    font-family: 'Benne', serif;
    font-size: 5rem;
    background-color: rgb(108, 178, 198);
    border-radius: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(209, 31, 31, 0.4);
}
.topic_button:hover{
    background-color: rgba(209, 31, 31,0.4);
    box-shadow: 0 1rem 1rem -0.7rem rgb(108, 178, 198);
}