body {
    --stripe: #cfd8dc;
    --bg: #e1e1e1;
    background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0, linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0, linear-gradient(315deg, var(--bg) 25%, transparent 25%), linear-gradient(45deg, var(--bg) 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: var(--stripe);
}
h1{
    font-size: 80px;
    padding-left: 400px;
    font-family: Snell Roundhand, cursive;
    color:Brown;
    font-weight: 1000;
}
.question{
    font-size: 50px;
    font-family: Palatino, URW Palladio L, serif;
}
.option{
    font-size: 30px;
    border-style: none;
}
.option :hover{
    font-size: 35;
    border-style: solid;

}
.option :focus{
    font-size: 35;
    border-style: solid;
    color: blueviolet;
}
.final_score{
    font-size: 40px;
    color: firebrick;
    border: gold;
    border-radius: 30px;
}
.final_score :hover{
    font-size: 50px;
    color: indigo;

}